.is-act-cartpage,
.is-act-confirmpage,
.is-act-finishpage,
.is-ctl-accountorder {
	.checkout {
		padding-top: 0;

		.checkout-aside-container {
			position: unset;
		}
	}
}

@include media-breakpoint-down(sm) {
	.cart-table {
		border: 0;
	}

	.cart-table-body {
		padding: 0;
	}
}

.cart-header-row {
	display: none;
	margin: 0;
	gap: $spacer-sm;

	font-size: $font-size-sm;
	text-transform: uppercase;
	color: $color-theme-600;
	font-weight: $font-weight-normal;

	& > * {
		margin: 0;
		padding: 0;
	}

	@include media-breakpoint-up(md) {
		display: flex;
		flex-direction: row;
	}
}

.cart-header-info {
	flex: 1 0;

	display: flex;
}

.cart-header-quantity {
	text-align: right;
	flex: 0 0 10%;
}

.cart-header-unit-price {
	flex: 0 0 15%;
}

.cart-header-total-price {
	flex: 0 0 15%;
}

.cart-header-remove {
	flex: 0 0 45px;
}
