<input type="checkbox" id="searchbar" class="search-bar__input">
<div class="search-bar__box">
	<div class="container">
		{% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
	</div>
</div>
