{% sw_extends '@Storefront/storefront/layout/navigation/offcanvas/item-link.html.twig' %}

{% block layout_navigation_offcanvas_navigation_categories_list_category_item_link_text %}
    <meta itemprop="name" content="{{ name }}">
    {% set cfg = getObjectFromJson(item.category.customFields.custom_category_megamenu|trim)%}

    <div class="navigation-offcanvas-link-inner">{% if cfg.icon %}<svg><use xlink:href="{{cfg.icon}}"></use></svg>{% endif %}<span>{{ name }}</span></div>

    {% if hasChildren %}
        {% block layout_navigation_offcanvas_navigation_categories_list_category_item_link_icon %}
            <span
                class="navigation-offcanvas-link-icon js-navigation-offcanvas-loading-icon">
                {% sw_icon 'arrow-medium-right' style { 'pack':'solid', 'size': 'sm' } %}
            </span>
        {% endblock %}
    {% endif %}
{% endblock %}
