{% sw_extends '@Storefront/storefront/component/line-item/element/image.html.twig' %}


{% block component_line_item_image_placeholder %}
    <div class="line-item-img line-item-img__placeholder">
        <img src="{{ asset('/assets/logo/mmonster_letter.svg', 'theme') }}" class="img-fluid d-block " alt="Mmonster. Your One-Stop Shop for Gaming Boosts">
    </div>
{% endblock %}
