.price {
	&__bonus {
		// background: $color-theme-400;
	}

	&--new {
		font-weight: 900;
		color: $white;
	}

	&--old {
		font-weight: 400;

		&:after {
			background-color: currentColor;
			border-bottom: 1px solid $color-theme-200;
		}
	}
}
