.checkout-aside-summary {
	background: inherit;
}

.checkout-aside-summary-container {
	// border-top: 1px solid $border-color;
}

.checkout-product-table {
	margin-bottom: 0;
}

.checkout-aside-action,
.swag-amazon-pay-wrapper {
	margin-top: $spacer-sm;
}

.checkout-aside-summary-label {
	// @include ui-md;
	margin: 0;
}

.checkout-aside-summary-value {
	// @include ui-md;
	margin: 0;
}

.checkout-aside-summary-total {
	// @include header2;

	margin: 0;
	padding-top: 0;
	margin-top: $spacer-sm;

	text-transform: none;
	border-top: 0;
}

.checkout-aside-summary-list {
	margin-top: $spacer-sm;
}

.checkout-aside-item {
	.product-feature-list-list {
		margin: 0;
	}

	.checkout-aside-item-title {
		font-size: $font-size-md;
		margin-bottom: 0;
	}

	.checkout-aside-item-link-price {
		font-weight: $font-weight-bold;
		margin-top: $spacer-xs;
	}

	.checkout-aside-item-characteristics {
		// @include ui-sm;

		color: $color-theme-700;
		margin-bottom: 0;
	}

	.checkout-aside-item-link-quantity {
		// @include ui-sm;

		color: $color-theme-700;
		margin-bottom: 0;

		.quantity {
			max-width: 90px;

			.vue-number-input {
				&__input {
					font-size: 12px !important;
				}
			}
		}
	}
}

.checkout-container-custom {
	display: grid;
	grid-gap: $spacer-md;

	margin: 0;

	grid-template-areas: 'header' 'main' 'aside';
	grid-template-columns: 1fr;

	@include media-breakpoint-up(md) {
		grid-template-areas: 'header header' 'main aside';
		grid-template-columns: 2fr 1fr;
	}
}

.checkout-main-custom {
	grid-area: main;

	padding: $spacer-md;
	border: $border-width solid $border-color;
	border-radius: $border-radius;
}

.checkout-aside-custom {
	grid-area: aside;

	padding: $spacer-md;
	border: $border-width solid $border-color;
	border-radius: $border-radius;
}

.checkout-header-row {
	flex: 1;
	display: flex;
	flex-wrap: wrap;

	grid-area: header;

	@include media-breakpoint-up(md) {
		flex-wrap: nowrap;
	}

	.checkout-header {
		flex: 1;
		order: 0;

		flex-basis: 50%;
		display: flex;
		align-items: center;

		@include media-breakpoint-up(md) {
			flex-basis: unset;
		}
	}

	.checkout-back {
		flex: 1;
		order: 1;

		flex-basis: 50%;

		display: flex;
		align-items: center;
		justify-content: flex-end;

		@include media-breakpoint-up(md) {
			order: 2;
			flex-basis: unset;
		}
	}
}

.checkout-custom {
	flex: 1 0 100%;

	justify-content: space-between;

	display: flex;
	flex-wrap: wrap;

	.checkout-header {
		// @include header2;
	}

	.card-body {
		padding: 0;
	}

	.checkout-block {
		flex: 0 0 100%;

		display: flex;
		flex-direction: column;

		border: 1px solid $border-color;
		border-radius: $border-radius-lg;
		padding: 25px;

		margin-bottom: 20px;

		@include media-breakpoint-up(md) {
			flex: 0 0 33%;

			&--double {
				flex: 0 0 65%;
			}
		}

		&--login {
			.checkout-block-inner {
				margin: 0 auto;

				width: 100%;
				max-width: 500px;
			}

			.checkout-header {
				text-align: center;
			}
		}
	}

	.custom-select {
		background-color: $input-bg;

		// @include ui-base;
		font-weight: $font-weight-normal;

		&:invalid {
			color: $color-theme-700;
		}
	}
}

.checkout-aside-item {
	display: flex;
}

.checkout-aside-coins-label {
	color: $primary;
}

.checkout-aside-coins-value {
	text-align: right;
	color: $primary;
}

.checkout-aside-item-image {
	flex: 0 0 85px;

	margin-right: 10px;
}

.checkout-aside-item-data {
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.checkout-coins {
	margin-bottom: 30px;
}

.checkout-block {
	.form-label {
		display: none;
	}

	.form-control {
		// @include ui-base;
		font-weight: $font-weight-normal;

		&::-webkit-input-placeholder {
			color: $color-theme-700;
		}
	}

	input:focus,
	.stripe-payment-card-selection .form-control {
		background-color: $color-theme-300;
	}

	.stripe-payment-selected-card {
		font-size: $font-size-md;
		font-weight: $font-weight-semibold;
		color: $white;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.stripe-payment-card-selection__card-cvc-input {
		margin-right: 0;
	}

	.stripe-payment-card-selection__card-cvc-info-button {
		top: 0;
	}

	.StripeElement {
		display: flex;
		align-items: center;

		& > * {
			flex: 1;

			display: flex;
			align-items: center;
		}
	}

	#stripe-shopware-payment-card-selection-card-number-input > * {
		height: 80%;
	}
}

.checkout-tabs {
	margin-top: $spacer-md;

	display: flex;
	flex: 1 0 100%;

	flex-wrap: wrap;

	justify-content: center;

	&__input {
		display: none;
	}

	&__input:checked + &__label {
		color: $primary;

		margin-bottom: 20px;
		border-bottom: 2px solid $primary;
	}

	&__label {
		font-size: 16px;
		font-weight: $font-weight-bold;
		cursor: pointer;

		&:not(:last-of-type) {
			margin-right: 20px;
		}

		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	#checkout-login-tab-handler:not(:checked) ~ .checkout-custom #checkout-login-tab,
	#checkout-register-tab-handler:not(:checked) ~ .checkout-custom #checkout-register-tab {
		display: none;

		@include media-breakpoint-up(md) {
			display: flex;
		}
	}
}

.custom-billing {
	margin-top: 15px;
	border-bottom: 1px solid $color-theme-500;

	display: flex;

	align-items: flex-start;
	justify-content: space-between;

	font-size: $font-size-sm;
	font-weight: $font-weight-normal;
	text-transform: none;
}

.confirm-address {
	margin-bottom: 0;
}

.confirm-address-change-link a {
	text-transform: uppercase;
	color: $primary;
}

.confirm-payment-box {
	display: grid;
	grid-gap: $spacer-lg;

	grid-template-areas: 'selector' 'content';
	grid-template-columns: 1fr;

	@include media-breakpoint-up(md) {
		grid-template-areas: 'selector content';
		grid-template-columns: 1fr 2fr;
	}
}

.revocation-notice {
	// @include ui-sm;

	a {
		color: $primary;
		font-weight: $font-weight-bold;
	}
}

.checkout-confirm-checkbox {
	// @include ui-sm;

	a {
		color: $primary;
		font-weight: $font-weight-bold;
	}
}
