{% block sw_cms_element_product_listing_config_layout_select_options %}
    <option value="standard">{{ $tc('sw-cms.elements.productBox.config.label.layoutTypeStandard') }}</option>
    <option value="modern">Modern</option>
    <option value="offer">Offer</option>
{% endblock %}
