.btn-discord {
	@extend .btn;
	@include button-variant($color-discord, $color-discord);
}

.finish-page-discord {
	&__title {
		text-align: center;
		font-size: $font-size-xl;
		font-weight: $font-weight-bold;

		margin-bottom: $spacer-lg;
	}

	&__steps-wrapper {
		display: grid;
		grid-gap: $spacer-lg;

		padding: $spacer-md;
		border: $border-width solid $border-color;

		grid-template-columns: 1fr;
		align-items: center;

		@include media-breakpoint-up(xl) {
			grid-template-columns: 1fr min-content 1fr min-content 1fr;
		}
	}

	&__step {
		display: flex;
		flex-direction: column;

		align-items: center;
		justify-content: center;
	}

	&__step-arrow {
		justify-content: center;
		align-items: center;

		font-size: 30px;
		color: $color-theme-600;

		display: none;

		@include media-breakpoint-up(xl) {
			display: flex;
		}
	}

	&__step-number {
		text-align: center;
		color: $color-theme-600;
		font-size: $font-size-sm;

		margin-bottom: $spacer-sm;
	}

	&__step-title {
		text-align: center;

		font-size: $font-size-md;
		font-weight: $font-weight-bold;
	}

	&__step-action {
		text-align: center;

		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.discord-channel {
	background-color: $color-theme-500;
	border-radius: 5px;
	padding: $spacer-xs $spacer-sm;
	margin: $spacer-xs;
	white-space: nowrap;
}

.discord-form {
	background-color: $color-theme-200;
	font-size: $font-size-base;
	border-radius: 5px;
	padding: $spacer-xs $spacer-sm;
	color: $color-theme-600;
	white-space: nowrap;
}

.discord-number {
	background-color: $color-theme-500;
	border-radius: 5px;
	padding: $spacer-xs $spacer-sm;
	margin: $spacer-xs;
	white-space: nowrap;

	display: inline-flex;
	gap: $spacer-xs;
}
