/*
Main navigation
==============================================
Custom styling for main navigation on larger screens.

Based on bootstrap nav:
https://getbootstrap.com/docs/4.3/components/navs/
*/

.main-navigation-menu {
	font-size: $font-size-lg;
	font-weight: $font-weight-normal;

	justify-content: center;
	flex-wrap: nowrap;
}

@include media-breakpoint-up(lg) {
	.main-navigation-link[data-mm-mega-menu-trigger] {
		cursor: pointer;
	}

	.main-navigation-link {
		color: $body-color;
		padding: 0;
		padding-left: 0;

		&:not(:last-child) {
			padding-right: 32px;
		}

		.main-navigation-link-text {
		}

		&:hover,
		&.is-open {
			color: $primary;

			.main-navigation-link-text {
				border-color: $primary;
			}
		}

		&.active {
			color: $primary;

			.main-navigation-link-text {
				border-color: $primary;
			}
		}
	}
}
