/******* messengers ******/

.mmo-messengers {
  &__checkbox {
    display: none;
  }

  &__checkbox:not(:checked) ~ &__panel {
    display: none;
  }

  &__panel {
    padding: 10px 30px 10px 15px;
    margin: 0;
    list-style: none;

    color: white;
    position: fixed;

    background-color: $black;

    bottom: 0;
    right: 1.5rem;

    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    box-shadow: var(--shadow);
  }

  &__item {
    margin: 0;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 1;

    display: block;
  }

  a,
  &__link {
    text-decoration: none;
    color: white;
    cursor: pointer;

    display: block;

    &:hover {
      color: $primary;
    }
  }

  &__label {
    background-color: $black;
    color: white;
    position: fixed;
    text-transform: uppercase;

    bottom: 0;
    right: 1.5rem;
    padding: 7px 13px;
    margin: 0;

    font-size: 14px;
    transition: color 0.2s;
    user-select: none;
    cursor: pointer;
    z-index: 999;

    box-shadow: var(--shadow);
  }

  &__text {
    display: none;

    @include media-breakpoint-up(md) {
      display: inline-block;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;

    color: currentColor;
    fill: currentColor;

    &:only-child {
      margin-right: 5px;
    }
  }

  &__close {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 12px;
    height: 12px;
    opacity: 0.4;
    cursor: pointer;

    transition: opacity 0.3s;
  }

  &__close:hover {
    opacity: 1;
  }

  &__close:before,
  &__close:after {
    position: absolute;
    content: '';
    height: 12px;
    width: 2px;
    background-color: #fff;
  }

  &__close:before {
    transform: rotate(45deg);
  }

  &__close:after {
    transform: rotate(-45deg);
  }
}
