.mm-timer {
  &__box {
    display: inline-block;
    color: $black;
    font-weight: $font-weight-bold;
    background-color: $primary;
    font-size: 12px;
    text-transform: uppercase;
    padding: 3px 5px;
    font-size: $font-size-sm;
    line-height: 1;
  }

  &__timer {
    color: $white;
  }
}
