{% sw_extends '@Storefront/storefront/page/product-detail/tabs.html.twig' %}

{# Prepare tabs #}

{% set customFields = page.product.translated.customFields %}
{% set customTabs = [] %}

{% for field, item in customFields %}
  {% if field ends with '_title' and field starts with 'product_tab_' %}
    {% set tabContent = field|replace({"_title": "_content"}) %}
    {% set customTabs = customTabs|merge({(field): {field: field, title: item, content: customFields[tabContent]}})|sort %}
  {% endif %}
{% endfor %}

{% block page_product_detail_tabs_inner %}

    {% block page_product_detail_tabs_content %}
      <div class="product-detail-tabs-content">
        {% block page_product_detail_tabs_content_container %}

            {% block page_product_detail_tabs_content_description %}
              <div class="product-detail-tab-navigation-pane">
                <a class="product-detail-tab-navigation-anchor" id="description-tab-pane"></a>
                {% sw_include '@Storefront/storefront/page/product-detail/description.html.twig' %}

                {% sw_include '@Storefront/storefront/page/product-detail/mm-youtube.html.twig' %}
              </div>
            {% endblock %}

            {% for key, data in customTabs %}
              {% block page_product_custom_tab_content %}
                <div class="product-detail-tab-navigation-pane">
                    <a class="product-detail-tab-navigation-anchor" id="description-tab-pane-{{loop.index}}"></a>

                    {% sw_include '@Storefront/storefront/page/product-detail/custom-tab.html.twig' with {
                      "content": data.content,
                      "title": data.title
                    } %}
                </div>
              {% endblock %}
            {% endfor %}


            {# REVIEWS HIDDEN #}
            {# {% block page_product_detail_tabs_content_review %}
              {% if config('core.listing.showReview') %}
                <div class="product-detail-tab-navigation-pane" id="review-tab-pane">
                  <a class="product-detail-tab-navigation-anchor" id="review-tab-pane"></a>

                  {% sw_include '@Storefront/storefront/page/product-detail/review/review.html.twig' with {'reviews': page.reviews} %}
                </div>
              {% endif %}
            {% endblock %} #}

        {% endblock %}
      </div>
    {% endblock %}
{% endblock %}
