.mm-announcement-box {
  --mm-announcement-background-color: var(--color-theme-100);
  --mm-announcement-text-color: var(--color-theme-800);
  --mm-announcement-background-hover-color: var(--color-theme-300);
  --mm-announcement-button-text-color: white;
  --mm-announcement-button-color: var(--primary);
  --timer-color: white;
  --timer-bg-color: black;
}
