
{% sw_extends '@Storefront/storefront/component/swag-amazon-pay/amazon-pay-button.html.twig' %}

{% block storefront_component_swag_amazon_pay_amazon_pay_button_insecure_request_notification %}
    {{ parent() }}

    {% if context.customer is null %}
        <div class="amazon-pay">
            <div class="swag-amazon-pay-button-tooltip-overlay not-logged-in"
                    data-bs-toggle="tooltip"
                    data-placement="bottom"
                    title="{{ "mm-theme.amazon-pay.unregisteredWarning"|trans|striptags }}">
            </div>

            <div class="comment-warning">{{ "mm-theme.amazon-pay.unregisteredWarning"|trans|striptags }}</div>
        </div>
    {% endif %}
{% endblock %}
