h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: 0.5em;
}

h1,
.h1 {
	line-height: 40px;
	font-weight: $font-weight-extra-bold;
}

h2,
.h2 {
	line-height: 34px;
	font-weight: $font-weight-extra-bold;
}

h3,
.h3 {
	line-height: 33px;
	font-weight: $font-weight-extra-bold;
}

h4,
.h4 {
	line-height: 24px;
}

h5,
.h5 {
	line-height: 21px;
}

h6,
.h6 {
	line-height: 20px;
}

.dropcap {
	&.color-custom {
		font-size: 36px;
		color: $primary;
		font-weight: $font-weight-bold;
		line-height: 1;
		margin-right: 1px;
	}
}

.emph {
	color: $primary;
}

.emph2 {
	color: $primary;
	font-weight: $font-weight-bold;
}
