/*
CMS elements
==============================================
Skin styling for cms elements
*/

.cms-element-product-listing {
	.listing-grid-layout {
		padding-right: $grid-gutter-width / 2;
		padding-left: $grid-gutter-width / 2;

		margin-bottom: $cms-element-product-listing-gutter-width;

		display: grid;
		gap: $cms-element-product-listing-gutter-width / 2;

		@include media-breakpoint-up(sm) {
			gap: $cms-element-product-listing-gutter-width;
		}

		grid-template-columns: 1fr;

		@include media-breakpoint-only(sm) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media-breakpoint-only(md) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include media-breakpoint-only(lg) {
			grid-template-columns: repeat(4, 1fr);
		}

		@include media-breakpoint-up(xl) {
			grid-template-columns: repeat(6, 1fr);
		}

		@media screen and (min-width: 1600px) {
			grid-template-columns: repeat(6, 1fr);
		}

		&--offer {
			grid-template-columns: 1fr;
			gap: $cms-element-product-listing-gutter-width / 2;

			@include media-breakpoint-only(sm) {
				grid-template-columns: repeat(1, 1fr);
			}

			@include media-breakpoint-only(md) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include media-breakpoint-only(lg) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include media-breakpoint-up(xl) {
				grid-template-columns: repeat(3, 1fr);
			}

			@media screen and (min-width: 1600px) {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		&--modern {
			grid-template-columns: 1fr;
			gap: $cms-element-product-listing-gutter-width / 2;

			@include media-breakpoint-up(sm) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include media-breakpoint-up(md) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include media-breakpoint-up(lg) {
				grid-template-columns: repeat(4, 1fr);
			}

			@include media-breakpoint-up(xl) {
				grid-template-columns: repeat(5, 1fr);
			}

			@media screen and (min-width: 1600px) {
				grid-template-columns: repeat(5, 1fr);
				gap: $cms-element-product-listing-gutter-width;
			}

			.cms-listing-col {
				&::after {
					display: none;
				}
			}
		}
	}

	.cms-listing-col {
		padding: 0;
		margin: 0;
		position: relative;

		&.col-12 {
			padding: unset;
			margin: unset;
			grid-column: 1/-1;
		}

		&.wishlist-listing-col {
			margin-top: 5rem;
		}

		&:not(:last-child) {
			&::after {
				width: 100%;
				height: 1px;
				background-color: $color-theme-500;
				position: absolute;
				content: '';
				left: 0;
				bottom: -$cms-element-product-listing-gutter-width / 4;

				@include media-breakpoint-up(sm) {
					display: none;
				}
			}
		}
	}
}

.cms-section-sidebar-main-content {
	.cms-element-product-listing {
		.listing-grid-layout {
			@include media-breakpoint-only(lg) {
				grid-template-columns: repeat(3, 1fr);
			}

			@include media-breakpoint-up(xl) {
				grid-template-columns: repeat(4, 1fr);
			}

			@media screen and (min-width: 1600px) {
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}
}

.cms-element-text {
	font-size: $font-size-md;

	blockquote {
		font-size: $font-size-lg;
		font-style: italic;
		line-height: 24px;
		margin-top: 16px;
		margin-left: 20px;
		position: relative;

		&::before {
			content: '"';
			font-size: 40px;
			line-height: 16px;
			color: $cms-element-text-quotes-color;
			position: absolute;
			top: 10px;
			left: -24px;
		}
	}
}

.with-sidebar {
	.listing-grid-layout {
		@include media-breakpoint-only(lg) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include media-breakpoint-up(xl) {
			grid-template-columns: repeat(4, 1fr);
		}

		@media screen and (min-width: 1550px) {
			grid-template-columns: repeat(5, 1fr);
		}


		&--offer {
			@include media-breakpoint-only(lg) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include media-breakpoint-up(xl) {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		&--modern {
			@include media-breakpoint-up(lg) {
				grid-template-columns: repeat(3, 1fr);
			}

			@include media-breakpoint-up(xl) {
				grid-template-columns: repeat(4, 1fr);
			}

			@media screen and (min-width: 1550px) {
				grid-template-columns: repeat(5, 1fr);
			}
		}
	}
}
