{% block page_product_detail_description_container %}
    <div class="product-detail-description service-includes tab-pane-container">

        {% block page_product_detail_description_title %}
            <div class="product-detail-description-title">
                <h2>{{ "detail.tabsDescription"|trans|sw_sanitize }}</h2>
            </div>
        {% endblock %}

        {% block page_product_detail_description_content_text %}
            <div class="product-detail-description-text">
                {% include(template_from_string(sanitizeContent(page.product.translated.description)|raw)) %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
