.badge.header-account-badge {
	position: absolute;
	border: 0;
	border-radius: 50px;
	box-sizing: content-box;
	height: 20px;
	line-height: 20px;
	min-width: 10px;
	padding: 0 5px;
	display: block;
	right: 3px;
	top: 2px;
}

.header-search-btn {
	position: absolute;
	background: transparent;
	height: 100%;
	right: 0;
	top: 50%;
	transform: translateY(-50%);

	border-top-left-radius: 0;
	border-bottom-left-radius: 0;

	&:hover {
		.icon {
			color: $primary;
		}
	}

	&:focus {
		box-shadow: none;
	}
}

.header-search-input {
	&:focus {

		&,
		~.input-group-append .header-search-btn {
			border-color: $primary;
		}
	}
}

.header-actions-btn {
	height: 100%;
	border: none;

	display: inline-flex;
	align-items: center;

	line-height: 1;

	position: relative;

	&,
	&:active,
	&:hover {
		background: none;
	}

	&:hover {

		&,
		.icon {
			color: $primary;
		}
	}

	&:focus {
		box-shadow: none;
	}

	position: relative;

	@include media-breakpoint-down(sm) {
		padding: 2px 8px;
	}
}

.header-cart-total {
	color: $primary;
	font-size: $font-size-lg;
}

@include media-breakpoint-up(sm) {
	.header-cart-badge {
		display: none;
	}
}

.header-main {
	position: sticky;
	top: 0;
	z-index: $top-bar-zindex;
	width: 100%;

	background-image: none !important;
	background-color: rgba(0, 0, 0, 0.45);

	&::before {
		content: '';
		position: absolute;
		display: block;
		inset: 0;
		backdrop-filter: blur(10px);
	}
}

.header-custom-row {
	display: grid;
	padding: 5px 0;

	grid-template-columns: 1fr auto 1fr;

	align-items: center;
	position: relative;

	min-height: 50px;

	@include media-breakpoint-up(md) {
		min-height: 65px;
	}

	.icon {
		@include media-breakpoint-down(sm) {
			width: 18px;
			height: 18px;
		}
	}

	@media screen and (min-width: 1640px) {
		margin: 0;
	}

	.nav-main-toggle-btn {
		padding-left: 0;
	}

	.header-cart-badge,
	.header-wishlist-badge,
	.header-account-badge {
		@include media-breakpoint-down(sm) {
			font-size: 10px;
			height: 14px;
			line-height: 14px;
			min-width: unset;
		}
	}
}

.header-actions-col-left {
	display: flex;

	@include media-breakpoint-up(lg) {
		display: none;
	}
}

.header-nav-col {
	display: none;

	@include media-breakpoint-up(lg) {
		display: initial;
	}
}

.header-logo-col {
	display: flex;
	align-items: center;
	justify-content: center;

	@include media-breakpoint-up(md) {
		justify-content: flex-start;
	}
}

.header-actions-col {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

.header-logo-col {
	margin: 0;
	padding: 0;

	@include media-breakpoint-up(md) {
		margin-right: 15px;
	}
}

.account-menu-dropdown {
	min-width: 150px;
}

.header-wishlist-icon,
.header-cart-icon,
.header-search-icon {
	display: flex;
	justify-content: center;
}
