{% sw_extends '@Storefront/storefront/component/payment/payment-form.html.twig' %}

{% block page_checkout_change_payment_form_fields %}
    {% sw_include '@Storefront/storefront/component/payment/payment-fields-body.html.twig' with {
        'visiblePaymentMethodsLimit': 1,
        'selectedPaymentMethodId': context.paymentMethod.id
    } %}
{% endblock %}

{% block page_checkout_change_payment_form_element %}
    <form id="changePaymentForm"
          name="changePaymentForm"
          action="{{ actionPath }}"
          data-form-csrf-handler="true"
          data-form-auto-submit="true"
          data-form-auto-submit-options='{{ formAjaxSubmitOptions|json_encode }}'
          method="post">

        {{ block("page_checkout_change_payment_form_redirect") }}
        {{ block("page_checkout_change_payment_form_fields") }}
    </form>
{% endblock %}
