.custom-select {
  background-color: $color-theme-400;
  cursor: pointer;

  &:invalid {
    color: $input-placeholder-color;
  }

  &:hover {
    border-color: $border-color;
    color: $color-theme-700;
  }

  &:focus,
  &:active {
    border-color: $primary;
  }

  option {
    color: $color-theme-700;
  }
}

.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: $color-theme-400;
}
