.multiselect {
  --select-color: white;
  --select-alt-color: var(--color-theme-700);
  --select-selected-color: var(--color-theme-450);
  --select-bg-color: var(--color-theme-200);
  --select-alt-bg-color: var(--color-theme-500);
  --select-border-radius: none;
  --select-border-color: var(--color-theme-500);
}
