.mm-loader {
	padding: $padding / 2;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;

	&__handler {
		position: relative;
	}

	&--overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(2px);
		background-color: rgba($body-bg, 0.5);
		z-index: $cookie-msg-zindex;
	}

	span {
		display: inline-block;
		width: 8px;
		height: 8px;
		border-radius: 100%;
		background-color: $primary;
		margin: 0 3px;
		opacity: 0;

		&:nth-child(1) {
			animation: opacitychange 1s ease-in-out infinite;
		}

		&:nth-child(2) {
			animation: opacitychange 1s ease-in-out 0.33s infinite;
		}

		&:nth-child(3) {
			animation: opacitychange 1s ease-in-out 0.66s infinite;
		}
	}

	&--cart {
		margin-bottom: 10px;
	}

	&--button {
		min-height: 46px;
	}

	&--button span {
		display: inline-block;
		width: 12px;
		height: 12px;
		border-radius: 100%;
		background-color: $primary;
		margin: 0 6px;
		opacity: 0;
	}
}

.btn-primary {
	.mm-loader {
		span {
			background-color: white;
		}
	}
}
