{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_cart_shipping_costs %}{% endblock %}

{% block page_checkout_cart_product_table %}
    <div class="checkout-product-table">
      {{ block('page_checkout_cart_table_header') }}

      {{ block('page_checkout_cart_table_items') }}
    </div>
{% endblock %}

{% block page_checkout_cart_add_product %}{% endblock %}

{% block page_checkout_item %}
    {% sw_include '@Storefront/storefront/component/line-item/line-item.html.twig' %}
{% endblock %}


{% block page_checkout_cart_add_promotion_input_group %}
{% endblock %}
