{% sw_extends '@Storefront/storefront/component/line-item/element/label.html.twig' %}

{% block component_line_item_label %}
    {% set label = lineItem.label|trans|sw_sanitize %}
    {% set label = label !== '' ? label : lineItem.label %}
    {% set _label = label|split(' [id:')|first|u.truncate(60, '...', false)|raw %}

    {# @deprecated tag:v6.6.0 - Boolean variable productLink will be removed, use lineItemLink and lineItemModalLink instead and pass the desired url as string. Remove this if block. #}

    {% if productLink and not lineItemLink %}
        {% set productId = lineItem.payload.parentId ? lineItem.payload.parentId : lineItem.referencedId %}
        {% set lineItemLink = seoUrl('frontend.detail.page', { 'productId': productId }) %}

    {% endif %}

    {% if lineItemLink %}
        <a href="{{ lineItemLink }}"
           class="line-item-label cart-item-label"
           title="{{ _label }}"
        >
            {{ _label }}
        </a>
    {% else %}
        <div class="line-item-label cart-item-label">
            {{ _label }}
        </div>
    {% endif %}
{% endblock %}
