{% sw_extends '@Storefront/storefront/page/account/register/index.html.twig' %}

{% block base_content %}
    {% block page_account_register %}
        <div class="account-register register">

            {% block page_account_register_login_container %}
                <div class="register__block">
                    <h2 class="register__header">
                      {{ "mm-theme.checkout.login"|trans|sw_sanitize }}
                    </h2>

                    {% sw_include '@Storefront/storefront/component/account/login.html.twig' with {
                        'cardTitle': "account.loginHeader"|trans|sw_sanitize
                    } %}
                </div>
            {% endblock %}

            {% block page_account_register_container %}
                <div class="register__block">

                    <h2 class="register__header">
                      {{ "mm-theme.checkout.register"|trans|sw_sanitize }}
                    </h2>

                    {% sw_include '@Storefront/storefront/component/account/register.html.twig' with {
                        'cardTitle': "account.registerPersonalHeader"|trans|sw_sanitize
                    } %}
                </div>
            {% endblock %}

        </div>
    {% endblock %}
{% endblock %}
