{% block page_product_detail_custom_tab_container %}
  <div class="product-detail-description tab-pane-container">
    {% block page_product_detail_custom_tab_content %}
      {% block page_product_detail_custom_tab_content_title %}
        <div class="product-detail-description-title"><h2>{{ title }}</h2></div>
      {% endblock %}

      {% block page_product_detail_custom_tab_content_text %}
        <div class="product-detail-description-text">
          {% include(template_from_string(sanitizeContent(content)|raw)) %}
        </div>
      {% endblock %}
    {% endblock %}
  </div>
{% endblock %}
