<div class="row mb-5">
    <div class="col-md-8">
        {% if config.showmeta %}
            {% block blog_content_post_inner_meta %}
                <div>
                    <small class="text-muted">{{ post.postdate is empty ? "" : post.postdate|format_datetime('long', 'none') }}</small>
                    {% if post.category.title %}
                        <small class="text-muted"> | {{ post.category.title }}</small>
                    {% endif %}
                </div>
            {% endblock %}
        {% endif %}

        {% block blog_content_post_inner_title %}
            <h2>{{ post.translated.title }}</h2>
        {% endblock %}

        {% block blog_content_post_inner_contents %}
            {{ render_blog_listing_template(post.translated.contents, post)|raw }}
        {% endblock %}
    </div>

    {% if post.image %}
        {% block blog_content_post_inner_image %}
            <div class="col-md-4 mt-3 mt-md-0">
                {% sw_thumbnails '' with {
                    media: post.image,
                    sizes: {
                        'default': '400px'
                    },
                    attributes: {
                        'class': 'img-fluid image-small',
                        'alt':   post.image.translated.alt ?: '',
                        'title': post.translated.title ?: ''
                    }
                } %}
            </div>
        {% endblock %}
    {% endif %}
</div>
