{% block component_review_point %}
    {% if type == 'half' %}
        <div class="point-container">
            <div class="point-rating point-partial-placeholder">
                <svg class="rating__star rating__star--blank">
                    <use xlink:href="#tp-star-empty"></use>
                </svg>
                <svg class="rating__star rating__star--half">
                    <use xlink:href="#tp-star"></use>
                </svg>
            </div>
        </div>
    {% elseif type == 'blank' %}
        <div class="point-container">
            <div class="point-rating">
                <svg class="rating__star rating__star--blank">
                    <use xlink:href="#tp-star"></use>
                </svg>
            </div>
        </div>
    {% else %}
        <div class="point-container">
            <div class="point-rating">
                <svg class="rating__star rating__star--full">
                    <use xlink:href="#tp-star"></use>
                </svg>
            </div>
        </div>
    {% endif %}
{% endblock %}
