@mixin sw-skin-alert($color, $background) {
	background-color: $background;
	color: $color;

	.alert-content-container {
		background-color: $background;
		color: $color;
	}

	.icon {
		color: $color;
	}
}

.alert {
	padding: 0;
	border: 0;

	.icon {
		margin: $spacer-sm;
		flex: 0 0 auto;
		color: inherit !important;

		svg {
			top: 0;
		}
	}
}

.alert.icon-top {
	.icon {
		margin-top: 15px;
		align-self: unset;
	}
}

.alert-has-icon {
	align-items: normal;
}

.alert-content-container {
	padding: $spacer-sm;
	flex-grow: 1;
}

@each $color,
	$value
		in (
			'primary': $primary,
			'secondary': $secondary,
			'success': $green-500,
			'info': $color-theme-700,
			'warning': $yellow-500,
			'danger': $red-500,
			'light': $light,
			'dark': $dark
		)
{
	.alert-#{$color} {
		@include sw-skin-alert($value, mix($black, $value, 60));
	}
}

.alert {
	justify-content: center;

	// background-color: $color-theme-400;
	border-radius: 3px;

	.alert-content-container {
		flex-grow: 0;
		padding-left: 5px;
	}

	.alert-content-container {
		background-color: transparent;
	}

	&.alert-warning {
		display: none !important;
	}
}
