.dropdown {
	height: 100%;
}

.dropdown-toggle {
	border: none;

	&::after {
		vertical-align: initial;

		border-top-color: $color-theme-600;

		position: absolute;
		top: 50%;
		right: 0px;
		transform: translateY(-50%);
	}

	&:hover {
		&::after {
			border-top-color: $primary;
		}
	}
}
