.express-checkout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;

  &__title {
    display: flex;
    flex-direction: row;
    font-size: $font-size-xs;
    text-transform: uppercase;
    color: var(--color-theme-700);
    text-align: center;
    gap: 10px;
    align-items: center;

    &::before,
    &::after {
      flex: 1;
      content: "";
      display: block;
      height: 1px;
      background-color: var(--color-theme-500);
    }
  }

  &__actions {
    display: flex;
    gap: 10px;

    &>* {
      flex: 1;
    }
  }

  &__image {
    height: 16px;

    @include media-breakpoint-up(sm) {
      height: 20px;
    }
  }

  &__button {
    border-radius: $border-radius;
    border: none;
    color: var(--color-theme-800);
    background-color: var(--checkout-bg-color, var(--color-theme-500));
    padding: $spacer-sm;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s ease-in-out;
    height: 30px;

    @include media-breakpoint-up(sm) {
      height: 40px;
    }

    &:hover {
      background-color: var(--checkout-hover-color, var(--color-theme-400));
    }

    &:active {
      background-color: var(--checkout-bg-color, var(--color-theme-500));
    }
  }
}
