{% sw_extends '@Storefront/storefront/layout/header/header-minimal.html.twig' %}

{% block layout_header %}
    {# @deprecated tag:6.4.0 class 'fixed-top' will be removed in version 6.4.0 #}
    <header class="header-minimal fixed-top">
        {% block layout_header_minimal_inner %}
            <div class="container">
                {% block layout_header_minimal_row %}
                    <div class="row header-row header-minimal-row">
                        {% block layout_header_minimal_logo %}
                            <div class="col-6 header-minimal-logo">
                                {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                            </div>
                        {% endblock %}

                        {% block layout_header_minimal_button %}
                            <div class="col-6 header-minimal-back-to-shop">
                                {% block layout_header_top_bar_currency %}
                                    <div class="d-none d-lg-flex">
                                        {% sw_include '@Storefront/storefront/layout/header/actions/currency-widget.html.twig' %}
                                    </div>
                                {% endblock %}

                                {% block layout_header_actions_account %}
                                    <div class="account-menu mr-5">
                                        {% sw_include '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}
                                    </div>
                                {% endblock %}

                                <a href="{{ path('frontend.home.page') }}"
                                   class="btn btn-outline-primary ms-2"
                                   title="{{ "checkout.finishButtonBackToShop"|trans|striptags }}">
                                    {{ "checkout.finishButtonBackToShop"|trans|striptags }}
                                </a>
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </header>
{% endblock %}
