{% block component_offcanvas_product_comments %}
    {% set comments = options|replace({'{\"': '', '\"}': ''}) %}
    {% set comments = comments|split('\",\"') %}

    {% for comment in comments %}
        {% if comment != '{}' %}
            <div class="cart-item-options-comment">{{ comment|replace({ "\"\:\"": ": " }) }}</div>
        {% endif %}
    {% endfor %}
{% endblock %}
