.copy-button {
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;

	display: flex;

	.icon {
		transition: color 0.2s;
	}

	&:hover {
		.icon {
			color: $primary;
		}
	}

	&:active {
		.icon {
			color: $white;
		}
	}
}
