{% block component_product_box_price_info %}

    {% set discount = product.customFields.custom_options_discount %}
    {% set simplePrice = product.calculatedPrice.unitPrice %}
    {% set additionalPrice = product.customFields.custom_options_ghost_additional_price %}
    {% if context.currency.isoCode === 'USD' and product.customFields.custom_options_ghost_additional_price_usd is not empty %}
            {% set additionalPrice = product.customFields.custom_options_ghost_additional_price_usd %}
    {% endif %}
    {# {% set additionalPriceMode = product.customFields.custom_options_ghost_additional_price_mode %}
    {% set additionalPriceRounding = product.customFields.custom_options_ghost_additional_price_rounding %} #}

    {% set сoinsRate = context.salesChannel.customFields.custom_coins_rate %}
    {% if product.customFields.custom_product_coins_override %}
        {% set сoinsRate = product.customFields.custom_product_coins_override %}
    {% endif %}

    {% set factor = context.currency.factor %}

    {% block component_product_box_price %}
        <div class="product-coins">
            {% if discount == empty and additionalPrice == empty %}
                {{ (simplePrice / factor * сoinsRate)|round }} {{ "mm-theme.product.coinsPost"|trans|sw_sanitize }}
            {% else %}
                {% set discountedPrice = simplePrice * (100 - discount) / 100 %}
                {{ (discountedPrice / factor * сoinsRate)|round }} {{ "mm-theme.product.coinsPost"|trans|sw_sanitize }}
            {% endif %}
        </div>
    {% endblock %}

{% endblock %}
