{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{% block page_content %}
    {% if activeRoute == 'frontend.home.page' %}
        {% block cms_breadcrumb %}{% endblock %}

        {% set heroConfig = theme_config('mm-header-activator') %}
        {% set gameConfig = theme_config('mm-games-activator') %}
        {% set isDeveloper = context.customer.customFields.mm_theme_developer %}

        {% if heroConfig or isDeveloper %}
            {% sw_include '@MmTheme/storefront/page/main/hero-section.html.twig' %}
        {% endif %}

        {% if gameConfig or isDeveloper %}
            {% sw_include '@MmTheme/storefront/page/main/game-section.html.twig' %}
        {% endif %}
    {% endif %}

    {% set sidebarEnabled = theme_config('mm-sidebar-enabled') %}
    {% set showSidebar = activeRoute != 'frontend.home.page' and sidebarEnabled %}

    {# Для страниц продуктов проверяем, есть ли категории у продукта #}
    {% if activeRoute == 'frontend.detail.page' and page.product is defined %}
        {% set hasProductCategories = page.product.categories is defined and page.product.categories|length > 0 %}
        {% set showSidebar = showSidebar and hasProductCategories %}
    {% endif %}

    {% if showSidebar %}
        <div class="sidebar-wrapper">
            <div class="sidebar">
                <div class="sidebar-inner">
                    {% sw_include '@MmTheme/storefront/page/product-detail/product-sidebar-section.html.twig' %}
                </div>
            </div>

            <div class="with-sidebar">{{ parent() }}</div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}