.account-payment-card {
	.payment-form-group {
		margin-bottom: 15px;
	}

	.payment-method-description {
		margin-top: 10px;
		display: none;
	}

	.payment-methods {
		margin-bottom: 35px;
	}

	.payment-method-label {
		font-size: $font-size-base;

		display: flex;
		align-items: center;
	}

	.payment-method-input {
		display: block !important;
	}

	.payment__details-header {
		cursor: pointer;
	}

	.custom-control {
		padding-left: 0;
	}

	.custom-control-label::after,
	.custom-control-label::before {
		top: 8px;
		left: 5px;

		border-radius: 100%;
	}

	.payment-method-input {
		display: none;
	}

	.payment-method-label {
		padding: 10px 15px 10px 30px;
		display: flex;
		width: 100%;
		margin: 0;

		align-items: flex-start;

		// @include ui-base;
		text-transform: none;

		&::before {
			border-color: $color-theme-500;
			background: $color-theme-400;
		}
	}

	.payment-method-input:checked~.payment-method-label {
		&::before {
			border-color: none;
			background: none;
		}

		&::after {
			left: 9px;
			top: 12px;
			width: 8px;
			height: 8px;
			border-radius: 100%;
			background-color: var(--primary);
		}
	}

	.payment-method-image {
		float: none;
		margin-bottom: 2px;
		max-height: 30px;
	}
}
