.btn {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	>.loader {
		margin-right: $spacer-sm;
		margin-left: $spacer-sm;
	}
}

.btn-buy {
	@extend .btn-lg;
	@include button-variant($buy-btn-bg, $buy-btn-bg);

	color: $buy-btn-color;
}

.btn-search {
	@extend .btn;
	@include button-variant($input-bg, $input-color);

	--bs-btn-border-color: transparent;
	--bs-btn-hover-bg: transparent;
	--bs-btn-hover-border-color: transparent;
	--bs-btn-active-border-color: #{$primary};

	&:disabled {
		border-color: transparent !important;
		background: transparent !important;

		.icon {
			opacity: 0;
		}
	}

	.loader {
		position: absolute;
	}
}

.btn-close {
	@extend .btn-lg;
	@include button-variant(transparent, $input-color);

	// --bs-btn-border-color: transparent;
	// --bs-btn-hover-border-color: #{$border-color};
}

.btn-primary {
	--bs-btn-color: white;
}

.btn-loader {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 44px;
}

.btn-mmo-buy {
	flex: 1;
	width: 100px;

	&>span {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.btn-buy:not(:disabled),
.btn-buy:not(.disabled) {
	.icon {
		color: $white;
	}

	&:hover {
		color: $primary;
		background-color: $white;
		border-color: $white;

		.icon {
			color: $primary;
		}
	}
}

.btn-primary:not(:disabled):hover,
.btn-primary:not(.disabled):hover,
.btn-primary:not(:disabled):active,
.btn-primary:not(.disabled):active {
	color: $primary;
	background-color: $white;
	border-color: $white;

	.icon {
		color: $primary;
	}
}

.btn,
.btn-buy,
.btn-primary {

	&.disabled,
	&:disabled,
	&.disabled:hover,
	&:disabled:hover,
	&.disabled:active,
	&:disabled:active,
	&.disabled:focus,
	&:disabled:focus {
		cursor: not-allowed;

		outline: none;
		opacity: 1;
		background: $disabled-btn-bg;
		border-color: $disabled-btn-border-color;
		color: $color-theme-600;

		.icon {
			color: $color-theme-600;
		}
	}
}

.btn.out-of-stock {
	background-color: $color-theme-500;
	border-color: $color-theme-500;
}
