/* GRID SLIDER */

.cms-block-mm-grid-slider {
	display: block;
	overflow: inherit;
	//   padding: 0 20px;
}

.grid-slider-root {
	--gap-size: 14px;
	--shadow-size: var(--gap-size);
	--transparent-400: hsla(223, 10%, 5%, 0.4);
	--transparent-500: hsla(223, 10%, 5%, 0.5);
	--transparent-950: hsla(223, 10%, 5%, 0.95);
}
